<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <h1 style="margin-bottom: 20px;">
                    <%= article.title %>
                </h1>
                <p style="margin-bottom: 20px;text-align: center;">
                    <%= article.body %>
                </p>
                <button id="delte-btn" class="create" style="margin-left: 30%;"
                    data-linkid="<%= article._id %>">Delete</button>
            </main>
            <%- include('./partials/footer.ejs') %>
                <script>
                    // const btnelement = document.querySelector(".create")
                    // const articleId = btnelement.getAttribute("data-linkid");
                    const dataElmnt = document.getElementById("delte-btn");
                    const articleId = dataElmnt.getAttribute("data-linkid");
                    dataElmnt.onclick = () => {
                        fetch(`/all-articles/${articleId}`, { method: "DELETE" })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.mylink )
                            .catch((err) => {
                                console.log(err);
                            });
                    }
                </script>
    </body>

</html>