<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <h1 style="margin-bottom: 20px;">
                    <%= article.title %>
                </h1>
                <p style="margin-bottom: 20px;text-align: center;">
                    <%= article.body %>
                </p>
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <button id="delte-btn" class="create" style="display: inline;"
                        data-linkid="<%= article._id %>">Delete</button>

                    <a class="create" style="display: inline; background-color: #4CAF50;
                    border: 1px solid #000;text-decoration: none;" href="/article-edit/<%= article._id %>">Edit</a>
                </div>

            </main>
            <%- include('../partials/footer.ejs') %>
                <script>
                    // const btnelement = document.querySelector(".create")
                    // const articleId = btnelement.getAttribute("data-linkid");
                    const dataElmnt = document.getElementById("delte-btn");
                    const articleId = dataElmnt.getAttribute("data-linkid");
                    dataElmnt.onclick = () => {
                        fetch(`/article/${articleId}`, { method: "DELETE" })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.mylink)
                            .catch((err) => {
                                console.log(err);
                            });
                    }
                </script>
    </body>

</html>