<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main id="main">

                <section>
                    <h1>
                        Edit film
                    </h1>

                    <form action="/film-edit/" method="POST">
                        <input type="hidden" name="id" value="<%= film._id %>" />
                        
                        <label for="title">Film title:</label>
                        <input type="text" id="title" name="title" value="<%= film.title %>" required>


                        <label for="releaseDate">Film release date:</label>
                        <input type="date" id="releaseDate" name="releaseDate" value="<%= film.releaseDate.toISOString().split('T')[0]  %>" required>



                        <label for="type">Film Type:</label>
                        <input type="text" id="type" name="type" value="<%= film.type %>" required />


                        <button class="create" style="background-color: #4CAF50;
                        border: 1px solid #000;">Update</button>
                    </form>
                </section>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>